footer.footer
  .container.footer__container
    .footer__data
      .footer__title.footer__title--logo.footer__title--mobile Картонный дом
      .footer__item.footer__item--list
        .footer__title Продукция
        ul.footer__list.list
          li.list__item
            a.list__link(href="#") О компании
          li.list__item
            a.list__link(href="#") Продукция
      .footer__item.footer__item--list
        .footer__title Мы
        ul.footer__list.list
          li.list__item
            a.list__link(href="#") Услуги
          li.list__item
            a.list__link(href="#") Контакты
      .footer__item.footer__item--contacts
        .footer__title Связаться с нами
        ul.footer__list.list
          li.list__item Тел: 8 (812) 461-64-66
          li.list__item Факс: 8 (812) 461-64-62
          li.list__item
            a.link.link--blue(href="mailto:mail@kartondom.ru") mail@kartondom.ru
    .footer__info
      .footer__title.footer__title--logo Картонный дом
      .footer__copyright.copyright
        p.copyright__text © «Картонный Дом» 2013-2019
        p.copyright__text Все права защищены        



script(src='./js/libs.min.js')
script(src='./js/bundle.js')