.popup-overlay
  .popup.popup--cookie(data-popup="cookie")
    .popup__text На сайте используются cookie-файлы. Если прочитав это сообщение, вы остаётесь на нашем сайте, это означает, что вы не возражаете против использования этих технологий.
    button.btn.btn--yellow.popup__btn.popup__btn--cookie Остаюсь
  .popup.popup--success(data-popup="success")
    .popup__close 
    .popup__title Заявка успешно сохранена
    .popup__text Благодарим за ваше обращение!
  .popup.popup--form(data-popup="callback")
    .popup__close 
    form.contacts-form.contacts-form--popup
      .contacts-form__title Перезвоните мне
      p.contacts-form__subtitle Оставьте свой телефон, и мы перезвоним вам в течение 5 минут (пн-пт с 09.00 до 18.00)
      .contacts-form__inner
        .contacts-form__group
          input.contacts-form__input#phone(name="phone")
          label.contacts-form__label Телефон или e-mai
        p.contacts-form__desc 
          | * Нажимая на кнопку, вы даете согласие на 
          a.link.link--blue(href="/text.html") обработку своих персональных данных
        button.contacts-form__btn.btn.btn--yellow Отправить
  .popup.popup--form(data-popup="calc")
    .popup__close 
    form.contacts-form.contacts-form--popup
      .contacts-form__title Рассчитаем вашу упаковку
      p.contacts-form__subtitle У вас уже есть техническое задание или макет? Отправьте нам, и мы сделаем расчёт в течение рабочего дня
      .contacts-form__inner
        .contacts-form__group
          input.contacts-form__input#phone(name="phone")
          label.contacts-form__label Телефон или e-mai
        .contacts-form__group.contacts-form__group--attach
          input.contacts-form__input#phone(name="phone")
          label.contacts-form__label Прикрепить файл
        p.contacts-form__desc 
          | * Нажимая на кнопку, вы даете согласие на 
          a.link.link--blue(href="/text.html") обработку своих персональных данных
        button.contacts-form__btn.btn.btn--yellow Отправить

    

footer.footer
  .container.footer__container
    .footer__data
      .footer__title.footer__title--logo.footer__title--mobile Картонный дом
      .footer__item.footer__item--list
        .footer__title Продукция
        ul.footer__list.list
          li.list__item
            a.list__link(href="#") О компании
          li.list__item
            a.list__link(href="#") Продукция
      .footer__item.footer__item--list
        .footer__title Мы
        ul.footer__list.list
          li.list__item
            a.list__link(href="#") Услуги
          li.list__item
            a.list__link(href="#") Контакты
      .footer__item.footer__item--contacts
        .footer__title Связаться с нами
        ul.footer__list.list
          li.list__item Тел: 8 (812) 461-64-66
          li.list__item Факс: 8 (812) 461-64-62
          li.list__item
            a.link.link--blue(href="mailto:mail@kartondom.ru") mail@kartondom.ru
    .footer__info
      .footer__title.footer__title--logo Картонный дом
      .footer__copyright.copyright
        p.copyright__text © «Картонный Дом» 2013-2019
        p.copyright__text Все права защищены        

script(src='./js/libs.min.js')
script(src='./js/bundle.js')