header.header
  .container.header__container
    a.header__item.header__item--logo.logo(href="/") Картонный дом
    nav.header___item.header__item--nav.nav
      .nav__toggler.toggler#nav-toggler(data-target="nav")
        span.toggler__bar
        span.toggler__bar
        span.toggler__bar
      ul.nav__list#nav
        li.nav__item
          a.nav__link(href="/about/") О компании
        li.nav__item
          a.nav__link(href="/packaging/") Продукция
        li.nav__item
          a.nav__link(href="/services/") Услуги
        li.nav__item
          a.nav__link(href="/contacts/") Контакты
        li.nav__item
          a.header__phone.link.link--phone(href="tel:+78124616466") 8 (812) 461-64-66
        li.nav__item
          a.header__callback.link.link--callback(data-popup, data-target="callback") Обратный звонок