header.header
  .container.header__container
    a.header__item.header__item--logo(href="/") Картонный дом
    nav.header___item.header__item--nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link О компании
        li.nav__item
          a.nav__link Продукция
        li.nav__item
          a.nav__link Услуги
        li.nav__item
          a.nav__link Контакты
    .header__item.header__item--info
      a.header__phone(href="tel:+78124616466") 8 (812) 461-64-66
      a.header__callback.callback#callback Обратный звонок