include includes/mixins.pug
doctype html
<html lang="en">
include includes/head.pug
body.body
    include includes/header.pug
    main.main
      section.section.section--page
        .container
          h1.section__title История
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/main.html") Главная
            li.breadcrumbs__item 
              span История
          .about
            .about__desc
              p.section__text Наша компания уже более 15 лет занимается производством гофрокартона и гофроупаковки, а так же изготовлением упаковки из полиграфических картонов.
              p.section__text За минувшие годы мы накопили большой опыт, создали мощную производственную базу с современным парком оборудования полного цикла, на 5000 м2 собственных производственно-складских площадей.
              p.section__text В наших силах изготовить разнообразную как индивидуальную, так и групповую упаковку, шоубоксы, подложки, разделители, изделия из микрогофрокартона и монокартона.
            .about__img
              img.img.img--responsive(src="/img/about.jpg")

          h2.section__title Сертификаты
          .certificates
            a.certificates__item(href="/img/certificate-1.png") 
              .certificates__inner
                img.certificates__icon(src="/img/prize.png")
                span.certificates__title Всероссийская премия
              span.certificates__btn
            a.certificates__item(href="/img/certificate-2.png") 
              .certificates__inner
                img.certificates__icon(src="/img/diploma.png")
                span.certificates__title Диплом
              span.certificates__btn
            a.certificates__item(href="/img/certificate-3.png") 
              .certificates__inner
                img.certificates__icon(src="/img/prize.png")
                span.certificates__title Всероссийская премия
              span.certificates__btn

    include includes/footer.pug
</html>