include includes/mixins.pug
doctype html
html(lang="ru")
  body
    main.main
      section.section.section--index
        .container
          ul.list-index
            li.list-index__item
              a.list-index__link(href="main.html") Главная
              
