include includes/mixins.pug
doctype html
<html lang="en">
include includes/head.pug
body.body
    include includes/header.pug
    main.main
      section.section.section--karton
        .container
          .box.box--white
          .karton
            h1.karton__title Упаковка <br/> из картона
            button.karton__btn.btn.btn--yellow Рассчитать стоимость
      
      section.section.section--slider.section--gray
        .container
          .slider
            .slider__items
              .slider__item
                .slider__desc
                  h2.section__subtitle Упаковка из картона
                  p.section__text Упаковка из полиграфического картона: лёгкая, экологичная, недорогая, яркая. Наше оборудование позволяет печатать по картонам плотностью до 840г/м2, так как мы одними из немногих в России освоили технологию офсетной печати по материалам с таким высоким граммажом.
                .slider__img
                  img.img.img--responsive(src="../img/box-black.png")
              .slider__nav
                .slider__arrow.slider__arrow--prev
                .slider__arrow.slider__arrow--next

              
      section.section.section--consult
        .section__inner
          .container
            .consult
              h2.section__subtitle.consult__title Консультации
              .consult__text Наши специалисты подробно проконсультируют вас по выбору материала и конструкции упаковки
      section.section.section--promo
        .container
          .promo
            span Более 10 лет
            | на рынке производства гофрокартона
      section.section.section--advantages
        .container
          .advantages
            .advantages__item
              .advantages__title более <br/> 40 фур
              .advantages__desc отгружаем готовой продукции в месяц
            .advantages__item
              .advantages__title свыше 250 млн
              .advantages__desc изготовлено коробок из картона за 10 лет
            .advantages__item
              .advantages__title 28 единиц
              .advantages__desc современного оборудования
            .advantages__item
              .advantages__title 56
              .advantages__desc опытных сотрудников
            .advantages__item
              .advantages__title 2000 м2
              .advantages__desc площадь производства
            .advantages__item
              .advantages__title 3000 м2
              .advantages__desc площадь склада
      section.section.section--clients.section--gray
        .container
          h2.section__title Наши клиенты
          .clients
            a.clients__item(hre="#")
              img.img.img--responsove(src="../img/client-1.png")
            a.clients__item(hre="#")
              img.img.img--responsove(src="../img/client-2.png")
            a.clients__item(hre="#")
              img.img.img--responsove(src="../img/client-3.png")
            a.clients__item(hre="#")
              img.img.img--responsove(src="../img/client-4.png")
            a.clients__item(hre="#")
              img.img.img--responsove(src="../img/client-5.png")
            a.clients__item(hre="#")
              img.img.img--responsove(src="../img/client-6.png")

      section.section.secion--form
        .container
          .form
            h2.section__title Остались вопросы?
            p.form__text Мы с радостью поможем разобраться
            .form__wrapper
              input.form__input(placeholder="Телефон или e-mail")
              button.form__button.btn.btn--yellow Позвоните мне

    include includes/footer.pug
</html>