include includes/mixins.pug
doctype html
<html lang="en">
include includes/head.pug
body.body
    include includes/header.pug
    main.main
      section.section.section--karton
        .container
          .karton
            .karton__desc
              h1.karton__title Упаковка <br/> из картона
              button.karton__btn.btn.btn--yellow(data-popup data-target="calc") Рассчитать стоимость
            .karton__img.karton__img--main
              img.img.img--responsive(src="img/box-white.png")
            .karton__img.karton__img--fixed.karton__img--white
              img.img.img--responsive(src="img/box-white.png")
            .karton__img.karton__img--fixed.karton__img--black
              img.img.img--responsive(src="img/box-black.png")
            .karton__scroll.scroll
              .scroll__mouse
                .scroll__wheel
      
      section.section.section--slider.section--gray
        
        .slider#slider-packaging 
          .slider__items
            .slider__item
              .container.slider__container
                .slider__desc
                  h2.section__subtitle Упаковка из картона 1
                  p.section__text Упаковка из полиграфического картона: лёгкая, экологичная, недорогая, яркая. Наше оборудование позволяет печатать по картонам плотностью до 840г/м2, так как мы одними из немногих в России освоили технологию офсетной печати по материалам с таким высоким граммажом.
                .slider__img.slider__img--karton
                  img.img.img--responsive(src="img/box-black.png")
            .slider__item
              .container.slider__container
                .slider__desc
                  h2.section__subtitle Упаковка из картона 2
                  p.section__text Упаковка из полиграфического картона: лёгкая, экологичная, недорогая, яркая. Наше оборудование позволяет печатать по картонам плотностью до 840г/м2, так как мы одними из немногих в России освоили технологию офсетной печати по материалам с таким высоким граммажом.
                .slider__img
                  img.img.img--responsive(src="img/box-black.png")
            .slider__item
              .container.slider__container
                .slider__desc
                  h2.section__subtitle Упаковка из картона 3
                  p.section__text Упаковка из полиграфического картона: лёгкая, экологичная, недорогая, яркая. Наше оборудование позволяет печатать по картонам плотностью до 840г/м2, так как мы одними из немногих в России освоили технологию офсетной печати по материалам с таким высоким граммажом.
                .slider__img
                  img.img.img--responsive(src="img/box-black.png")
          .slider__nav
            .slider__arrow.slider__arrow--prev
            .slider__arrow.slider__arrow--next

              
      section.section.section--consult
        .section__inner
          .container
            .consult#slider-consult
              .consult__items
                .consult__item
                  h2.section__subtitle.consult__title Консультации 1
                  .consult__text Наши специалисты подробно проконсультируют вас по выбору материала и конструкции упаковки.
                .consult__item
                  h2.section__subtitle.consult__title Консультации 2
                  .consult__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quae quis cumque provident voluptates cupiditate repellendus, officia labore delectus at animi ducimus non laudantium nisi, reprehenderit, dolores sapiente fugit fuga.
                .consult__item
                  h2.section__subtitle.consult__title Консультации 3
                  .consult__text Наши специалисты подробно проконсультируют вас по выбору материала и конструкции упаковки
                .consult__item
                  h2.section__subtitle.consult__title Консультации 4
                  .consult__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quae quis cumque provident voluptates cupiditate repellendus, officia labore delectus at animi ducimus non laudantium nisi, reprehenderit, dolores sapiente fugit fuga.
              .consult__nav
                .consult__part.consult__part--active(data-slide="0")
                .consult__part(data-slide="1")
                .consult__part(data-slide="2")
                .consult__part(data-slide="3")
      section.section.section--promo
        .container
          .promo
            span Более 10 лет
            | на рынке производства гофрокартона
      section.section.section--advantages
        .section__inner
          .container
            .advantages
              .advantages__item
                .advantages__title более <br/> 40 фур
                .advantages__desc отгружаем готовой продукции в мес
              .advantages__item
                .advantages__title свыше 250 млн
                .advantages__desc изготовлено коробок из картона за 10 лет
              .advantages__item
                .advantages__title 28 единиц
                .advantages__desc современного оборудования
              .advantages__item
                .advantages__title 56
                .advantages__desc опытных сотрудников
              .advantages__item
                .advantages__title 2000 м2
                .advantages__desc площадь производства
              .advantages__item
                .advantages__title 3000 м2
                .advantages__desc площадь склада
      section.section.section--clients.section--gray
        .container
          h2.section__title Наши клиенты
          .clients
            a.clients__item(hre="#")
              img.img.img--responsive(src="img/client-1.png")
            a.clients__item(hre="#")
              img.img.img--responsive(src="img/client-2.png")
            a.clients__item(hre="#")
              img.img.img--responsive(src="img/client-3.png")
            a.clients__item(hre="#")
              img.img.img--responsive(src="img/client-4.png")
            a.clients__item(hre="#")
              img.img.img--responsive(src="img/client-5.png")
            a.clients__item(hre="#")
              img.img.img--responsive(src="img/client-6.png")

      section.section.secion--form
        .container
          .form
            h2.section__title Остались вопросы?
            p.form__text Мы с радостью поможем разобраться
            .form__wrapper
              input.form__input(placeholder="Телефон или e-mail")
              button.form__button.btn.btn--yellow Позвоните мне

    include includes/footer.pug
</html>