include includes/mixins.pug
doctype html
<html lang="en">
include includes/head.pug
body.body
    include includes/header.pug
    main.main
        section.section.section--page
            .container
                h1.section__title Различные виды упаковки
                ul.breadcrumbs
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="/main.html") Главная
                    li.breadcrumbs__item
                        span Продукция
                .packaging#packaging
                    - var packaging = ['Посуда', 'Медицинские товары', 'Кондитерские продукты', 'Детские товары', 'Промышленные товары и техника','Овощи и фрукты', 'Автотовары', 'Обувь', 'Транспортные паллеты из гофрокартона', 'Предложение сетевым магазинам', 'Октабины, большие короба', 'Упаковка для рыбы, мяса, птицы', 'Упаковка для пиццерий, кофеен, ресторанов', 'Упаковка из гофрокартона', 'Двухслойный гофрокартон (Z-картон)', 'Обечайки, решетки, прокладки']
                    ul.packaging__list
                        each val, index in packaging
                            li.packaging__tab(data-index=index)
                                span.packaging__link #{val}
                    .packaging__tabs
                        article.packaging__item.packaging__item--active(data-index=0)
                            .packaging__gallery
                                .packaging__inner
                                    .slides
                                        img.img.img--responsive.packaging__img(src="/img/packaging-1.png")
                                        img.img.img--responsive.packaging__img(src="/img/packaging-1.png")
                            .packaging__desc.packaging__desc--small
                                p.section__text Упаковка для посуды должна выполнять сразу две важные функции: защищать столь хрупкую продукцию от повреждений и одновременно быть привлекательной для покупателя.
                                p.section__text Наша компания предлагает изготовить для вас упаковку любой сложности из картона, микрогофрокартона, гофрированного картона с полноцветной печатью, лакированием, вклейкой прозрачных окошек, тиснением…
                                p.section__text Прочная, экологически чистая, привлекательная внешне упаковка приятно дополнит вашу продукцию и подчеркнёт в глазах потребителя.
                                p.section__text Мы готовы произвести расчёт готового макета или разработать для вас «с нуля» новый дизайн. Оставьте заявку в форме обратной связи, и наш специалист свяжется с вами.
                                p.section__text Упаковка для посуды должна выполнять сразу две важные функции: защищать столь хрупкую продукцию от повреждений и одновременно быть привлекательной для покупателя.
                                p.section__text Наша компания предлагает изготовить для вас упаковку любой сложности из картона, микрогофрокартона, гофрированного картона с полноцветной печатью, лакированием, вклейкой прозрачных окошек, тиснением…
                                p.section__text Прочная, экологически чистая, привлекательная внешне упаковка приятно дополнит вашу продукцию и подчеркнёт в глазах потребителя.
                                p.section__text Мы готовы произвести расчёт готового макета или разработать для вас «с нуля» новый дизайн. Оставьте заявку в форме обратной связи, и наш специалист свяжется с вами.

                                button.packaging__btn.btn.btn--yellow Рассчитать стоимость
                        article.packaging__item.packaging__item--active(data-index=0)
                            .packaging__gallery
                                .packaging__inner
                                    .slides
                                        img.img.img--responsive.packaging__img(src="/img/packaging-1.png")
                                        img.img.img--responsive.packaging__img(src="/img/packaging-1.png")
                            .packaging__desc.packaging__desc--small
                                p.section__text Упаковка для посуды должна выполнять сразу две важные функции: защищать столь хрупкую продукцию от повреждений и одновременно быть привлекательной для покупателя.
                                p.section__text Наша компания предлагает изготовить для вас упаковку любой сложности из картона, микрогофрокартона, гофрированного картона с полноцветной печатью, лакированием, вклейкой прозрачных окошек, тиснением…
                                p.section__text Прочная, экологически чистая, привлекательная внешне упаковка приятно дополнит вашу продукцию и подчеркнёт в глазах потребителя.
                                p.section__text Мы готовы произвести расчёт готового макета или разработать для вас «с нуля» новый дизайн. Оставьте заявку в форме обратной связи, и наш специалист свяжется с вами.
                                p.section__text Упаковка для посуды должна выполнять сразу две важные функции: защищать столь хрупкую продукцию от повреждений и одновременно быть привлекательной для покупателя.
                                p.section__text Наша компания предлагает изготовить для вас упаковку любой сложности из картона, микрогофрокартона, гофрированного картона с полноцветной печатью, лакированием, вклейкой прозрачных окошек, тиснением…
                                p.section__text Прочная, экологически чистая, привлекательная внешне упаковка приятно дополнит вашу продукцию и подчеркнёт в глазах потребителя.
                                p.section__text Мы готовы произвести расчёт готового макета или разработать для вас «с нуля» новый дизайн. Оставьте заявку в форме обратной связи, и наш специалист свяжется с вами.

                                button.packaging__btn.btn.btn--yellow Рассчитать стоимость

        section.section.secion--form
            .container
                .form
                    h2.section__title Остались вопросы?
                    p.form__text Мы с радостью поможем разобраться
                    .form__wrapper
                        input.form__input(placeholder="Телефон или e-mail")
                        button.form__button.btn.btn--yellow Позвоните мне

    include includes/footer.pug
</html>