include includes/mixins.pug
doctype html
<html lang="en">
include includes/head.pug
body.body
    include includes/header.pug
    script(src='/js/baron.js')
    main.main
      section.section.section--page
        .container
          h1.section__title Технология "Картонного дома"
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/main.html") Главная
            li.breadcrumbs__item
              span Услуги

          h2.section__subtitle Возможности нашего производства позволяют оказывать следующие услуги:
          .services#services
            - var services = ['Разработка дизайна и конструкции', 'Размотка', 'Печать офсетная / флексографская, лакирование', 'Ламинация' , 'Производство гофрокартона', 'Кашировка', 'Высечка (вырубка)', 'Вклейка пластиковых окошек', 'Склейка', 'Упаковка'];
            ul.services__list(role="tablist")
              each val, index in services.length ? services : ['There are no values']
                li.services__item
                  if (index==0) 
                    a.services__link.services__link--active(id="tab"+index, href="#section" +index, role="tab", data-toggle="tab") #{val}
                  else
                    a.services__link(href="#section" +index, role="tab", data-toggle="tab") #{val}
            each val, index in services.length ? services : ['There are no values']
              .services__tab(id="section" +index, role="tabpanel", aria-labelledby="tab"+index) 
                .services__desc
                  .services__inner
                    p.section__text #{val}
                    p.section__text Мы поможем вам разработать дизайн упаковки с самого начала: 
                    ul.list.list--marked
                     li.list__item проконсультируем по материалам и покажем образцы 
                     li.list__item выберем оптимальную конструкцию
                     li.list__item создадим дизайн-макет
                     li.list__item сделаем цветопробу 
                     li.list__item изготовим тестовую партию
                  .services__img
                    img.img.img--responsive(src="/img/service.png")


    include includes/footer.pug
</html>