include includes/mixins.pug
doctype html
<html lang="en">
include includes/head.pug
body.body
    include includes/header.pug
    main.main
      section.section.section--text
        .container
          h1.section__title Пользовательское соглашение
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/main.html") Главная
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/contacts.html") Контакты
            li.breadcrumbs__item 
              span Пользовательское соглашение
          .section__desc.section__desc--top
            p.section__text Я, субъект персональных данных, в соответствии с Федеральным законом от 27 июля 2006 года № 152 "О персональных данных" предоставляю ООО "Картонный дом" (далее - Оператор), расположенному по адресу 196655, г. Санкт-Петербург, г. Колпино, Саперный переулок, 6, согласие на обработку персональных данных, указанных мной в форме веб-чата и/или в форме заказа обратного звонка на сайте в сети «Интернет», владельцем которого является Оператор. 

            p.section__text 1. Состав предоставляемых мной персональных данных является следующим: ФИО, адрес электронной почты и номер телефона. 

            p.section__text 2. Целями обработки моих персональных данных являются: обеспечение обмена короткими текстовыми сообщениями в режиме онлайн-диалога и обеспечение функционирования обратного звонка. 

            p.section__text 3. Согласие предоставляется на совершение следующих действий (операций) с указанными в настоящем согласии персональными данными: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу (предоставление, доступ), блокирование, удаление, уничтожение, осуществляемых как с использованием средств автоматизации (автоматизированная обработка), так и без использования таких средств (неавтоматизированная обработка). 

            p.section__text 4. Я понимаю и соглашаюсь с тем, что предоставление Оператору какой-либо информации о себе, не являющейся контактной и не относящейся к целям настоящего согласия, а равно предоставление информации, относящейся к государственной, банковской и/или коммерческой тайне, информации о расовой и/или национальной принадлежности, политических взглядах, религиозных или философских убеждениях, состоянии здоровья, интимной жизни запрещено. 

            p.section__text 5. В случае принятия мной решения о предоставлении Оператору какой-либо информации (каких-либо данных), я обязуюсь предоставлять исключительно достоверную и актуальную информацию и не вправе вводить Оператора в заблуждение в отношении своей личности, сообщать ложную или недостоверную информацию о себе. 

            p.section__text 6. Я понимаю и соглашаюсь с тем, что Оператор не проверяет достоверность персональных данных, предоставляемых мной, и не имеет возможности оценивать мою дееспособность и исходит из того, что я предоставляю достоверные персональные данные и поддерживаю такие данные в актуальном состоянии. 

            p.section__text 7. Согласие действует по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом. 

            p.section__text 8. Согласие может быть отозвано мною в любое время на основании моего письменного заявления. 
    include includes/footer.pug
</html>